.date {
  width: 3.8rem;
  color: var(--icon-color);
  white-space: nowrap;
  overflow: hidden;
  &.clicked-animated .content {
    animation: appear 0.2s ease;
  }
}
img {
  width: 17px;
  height: 17px;
}
